.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}

.timeline {
  display: block;
}

.Year {
  padding: 50px 2px 0px 2px;
  display: inline-block;
  text-align: left;
}

.year-title {
  color: #ffb8b8;
  padding-bottom: 7px;
  text-align: center;
  /*padding-left: 40px*/
}

.months-wrapper {
  display: inline-block;
}

.Month {
  display: inline-block;
  width: 12px;
  color: grey;
  padding: 3px 8px;
  font-size: 7px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.Month:active {
  background-color: pink;
}

.Month:first-child {
  border-left: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Month:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.m-selected {
  background-color: pink;
}

.graph {
  padding-top: 3px;
  margin-left: 1px;
}

.Cell {
  display: inline-block;
  width: 12px;
  height: 13px;
  color: grey;
  width: 28px;
  height: 20px;
  font-size: 7px;
  border-right: 1px solid #d2d2d2;
  border-left: none;
  background-color: #f8f8f8;
}

.Cell:first-child {
  border-left: 2px;
}
.Cell:last-child {
  border-right: 1px;
  /*margin-right: 25px;*/
}

.Cell .cell-marker {
  position: relative;
  top: 2px;
  left: -0.5px;
  width: 13px;
  height: 8px;
  color: grey;
  padding: 3px 8px;
  font-size: 7px;
  border: 0.8px solid grey;
  border-radius: 4px;
  cursor: pointer;
  background-color: pink;
  border-left: none;
  border-right: none;
}

.name-and-save {
  border-radius: 20px;
  border: 1px solid grey;
  width: 40px;
  height: 15px;
  margin: 0 3px 0 2px;
  font-size: 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.name-and-save:active {
  background-color: grey;
  color: white;
}
