.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}

.timeline {
  display: block;
}

.Year {
  padding: 50px 2px 0px 2px;
  display: inline-block;
}

.year-title {
  color: #ffb8b8;
  padding-bottom: 7px;
}

.Month {
  display: inline-block;
  width: 12px;
  color: grey;
  padding: 3px 8px;
  font-size: 7px;
  border: 1px solid grey;
  border-left: none;
}

.Month:first-child {
  border-left: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Month:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.graph-wrapper {
  padding-top: 3px;
}

.Graph {
  display: inline-block;
  width: 12px;
  height: 10px;
  color: grey;
  padding: 3px 8px;
  font-size: 7px;
  border-right: 1px solid #d2d2d2;
  border-left: none;
  background-color: #f8f8f8;
}

.Graph:first-child {
  border-left: 1px;
}
.Graph:last-child {
  border-right: 1px;
}
